div {
	width: 240px;
	height: 240px;
	background-color: #EAF0F0;
	font-size: 27px;
	margin: 50px auto;
	border-radius: 5px;
	padding: 20px;
	
}

p {
	font-style: italic;
	font-stretch: expanded;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1;
}

cite {
	font-style: normal;
	font-family: arial;
	color: #327d76;
	font-size: 20px;
}

.footer {
	margin-top: 35px;
	font-family: arial;
	font-size:  20px;
	color: #777777;
	margin-left: 50px;
    font-style:normal;
}
