html {
  background-image: url(фон2.JPG);
  font-family: Georgia, "Century Schoolbook L", Serif;
}
.content {
    width: 400px;
    margin: 60px auto;
}
h3 {
    margin-bottom: -8px;
}
.footer {
    text-align: center;
    font-size: 70%;
}

