.container {
    margin: 40px auto;
    background-color: #383838;
    width: 520px;
    height: 350x;
}

.box {
    height: 150px;
    width: 150px;
    background-color: #272727;
    margin: 10px;
    display: inline-block;
}

span {
    font-family: arial;
    color: #888888;
    font-weight: bold;
    line-height: 150px;
    text-align: center;
    display: block;
}

.footer {
    font-family: arial;
    position: relative;
    left: 900px;
    margin: -25px;
}

